<div class="first-section"></div>
<div class="category-wrapper">
    <div class="category-name">
        <h1>Technology</h1>
    </div>
    <swiper
      class="swiper"
      [slidesPerView]="4"
      [spaceBetween]="50"
      [navigation]="true"
      [breakpoints]="breakpoints"
      [loop]="true"
      [autoplay]="true"
      (swiper)="onSwiper($event)"
      (slideChange)="onSlideChange()">
      <!-- <ng-container *ngFor="let product of products | sortBy: 'category' : 'tech'"></ng-container> -->
      <ng-container *ngFor="let post of data" (click)="openPost(post)">
        <ng-template swiperSlide class="swiperSlide">
          <mat-card class="product-mat-card">
            <img mat-card-image class="product-image" src="../../../assets/joystick.jpg" alt="product-image">
              <mat-card-title>{{post.price}}</mat-card-title>
              <mat-card-subtitle>some subtitle</mat-card-subtitle>
            <mat-card-content>
              <p>
                {{post.description}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>
        </ng-template>
      </ng-container>
    </swiper>
</div>