@import '~swiper/swiper-bundle';

html, body { 
    height: 100%;
    margin: 0;
    padding: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #D7D8C9;
}
body * {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

